
#header{
position:absolute;
background-color:rgba(0,0,255,0.2);
width:100%;
height:15%;
left:0%;
top:0%;
}
#middle{
position:absolute;
background-color:rgba(100,100,255,0.2);
width:100%;
height:75%;
left:0%;
top:15%;
box-shadow:10px 10px 10px #898c8c;

}
#sp{
background-color:transparent;
position:absolute;
left:0%;
top:0%;
width:50%;
height:100%;
text-align:center;
line-height:100px;
color:white;
font-size:6vw;
font-family:brush script mt;
}
#sp1
{
position:absolute;
color:rgba(62, 43, 71);
top:18%;
left:12%;
width:30%;
height:60%;
font-size:2.3vw;
font-family:berlin sans fb;
}

.c1{
position:absolute;
left:98%;
height:20%;
width:20%;
opacity:0.5;
transition:1s;
}
.c1:hover{left:95%;opacity:1;}
#facebook{top:50%;}
#google{top:60%;}
#instagram{top:70%;}
#youtube{top:80%;}

#enquiry{
position:absolute;
top:90%;
left:98%;
height:20%;
width:20%;
opacity:0.5;
transition:1s;
}
#enquiry:hover{left:95%;opacity:1;}

#aa1{
background-color:rgba(162,184,179,0.5);
position:absolute;
right:5%;
top:20%;
width:30%;
height:60%;
font-size:1.5vw;
box-shadow:0px 0px 10px #898c8c;
visibility:hidden;
}

#form{
position:absolute;
left:10%;
top:15%;
width:80%;
height:70%;
}
input[type="text"]{
background-color:rgba(88,122,122,0.1);
border:none;
border-bottom:1px solid red;
color:white;
text-shadow:1px 1px 3px black; 
font-size:1.3vw;
outline:none;
}
button{
background-color:rgba(100,100,100,0.3);
border:none;
border-bottom:1px solid red;
color:#036e6e;
font-size:1.3vw;
outline:none;
color:white;
}
button:hover{
background-color:black;
border:none;
border-bottom:1px solid red;
color:#036e6e;
font-size:1.3vw;
outline:none;
color:white;
border-radius:5px;
}
#footer{
position:absolute;
background-color:rgba(0,0,255,0.2);
width:100%;
height:10%;
left:0%;
top:90%;
}
#ff1
{
position:absolute;
top:0%;
left:32%;
font-family:arial;
font-size:1.5w;
color:white;
text-align:center;
}
#ff2
{
position:absolute;
top:15%;
left:37%;
font-family:arial black;
font-size:1.5w;
color:white;
text-align:center;
}
#f1{
position:absolute;
left:33%;
top:50%;
}
ul{
list-style:none;

}

 ul li{
 background-color:blue;
 width:100px;
 height:30px;
 border:2px solid white;
 text-align:center;
 font-family:cooper;
 float:left;
 
 }
 f{
 text-decoration:none;
 color:black;
 display:block
 }
 ul li:hover{background-color:grey;}
 *{
 padding:0px;
 margin:0px;
 }
 ul ul{
 visibility:hidden;
 
 }
 ul li:hover ul{
 visibility:visible;
 }
 ul ul ul{
 position:relative;
 left:100%;
 top:-100%;
 display:none;
 }
   ul ul li:hover ul{
   display:block;
   }

#address{
position:absolute;
height:50%;
width:50%;
left:0%;
top:5%;
color:blue;
}
#logo{
position:absolute;
width:10%;
height:100%;
left:0%;
top:0%;
box-shadow:0px 0px 10px #898c8c;
border-radius:50%;
overflow:hidden;
}
#name{
position:absolute;
width:50%;
height:100%;
left:12%;
top:10%;
font-size:4vw;
font-family:cooper black;
color:#b0ccd1;
}
#wm1{
animation:abc1 2s infinite;

}
@keyframes abc1{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm2{
animation:abc2 2s infinite;
animation-delay:1s;
}
@keyframes abc2{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm3{
animation:abc3 2s infinite;
animation-delay:2s;
}
@keyframes abc3{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm4{
animation:abc4 2s infinite;
animation-delay:3s;
}
@keyframes abc4{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm5{
animation:abc5 2s infinite;
animation-delay:4s;
}
@keyframes abc5{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm6{
animation:abc6 2s infinite;
animation-delay:5s;
}
@keyframes abc6{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm7{
animation:abc7 2s infinite;
animation-delay:6s;
}
@keyframes abc7{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm8{
animation:abc8 2s infinite;
animation-delay:7s;
}
@keyframes abc8{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm9{
animation:abc9 2s infinite;
animation-delay:8s;
}
@keyframes abc9{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}
#wm10{
animation:abc10 2s infinite;
animation-delay:9s;
}
@keyframes abc10{
0%  {color:white;font-size:3vw;}
100%{color:#0c9cf0;font-size:4vw;}
}

#menu{
position:absolute;
width:50%;
height:100%;
left:50%;
top:20%;
}

a{
text-decoration:none;
color:white;	
}
.c{
position:absolute;
background-color:rgba(245,40,145,0);
width:120px;
height:40px;
line-height:40px;
text-align:center;
font-size:1.5vw;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
box-shadow:0px 0px 5px gray;
 
}
.c:hover{background-color:gray;}
#a1{left:5%;}
#a2{left:25%;}
#a3{left:45%;}
#a4{left:65%;}
#a5{left:85%;}
